/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

##Laravel
/storage/logs
/storage/app/public
/bootstrap/cache
/bootstrap/config.php
/phpunit.xml
/database/*.sqlite
Homestead
.env.example
composer.lock

node_modules/
npm-debug.log
yarn-error.log

/dist/
/.temp/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

/jspm_packages/
/pack/

/tsconfig.tsbuildinfo
*.tsbuildinfo

.vscode/
.idea/

.DS_Store
Thumbs.db

/dist/spa/
/dist/cordova/
/dist/capacitor/
/dist/electron/
/dist/bex/

/vue-devtools/
/client-side-bundle/

.eslintcache
