// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
// Set the default font-family
$typography-font-family: 'Lora', serif !default;

$primary   : #164863;
$primary-light : #1E6287;
$primary-light-2 : #1E6287;
$secondary : #427D9D;
$tertiary  : #9BBEC8;
$accent    : #9C27B0;

$light-text: #DDF2FD;
$background: #DDF2FD;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
